.wrapper {
  margin: auto;
}

.title {
  border: 3px solid black;
  font-size: 2.25em;
  text-align: center;
}

.avatar {
  border: 3px solid black;
  float: left;
  margin: 15px;
}

.newGame button {
  width: 25%;
  font-size: 1.5em;
  text-align: center;
  padding: 25px;
  margin: 25px 35%;
  border-radius: 15px;
}

.dice {
  border: 3px solid black;
  margin: 25px auto;
  width: 50%;
  text-align: center;
}

.dice img {
  margin: 15px 35px;
  width: 100px;
  border-radius: 15px;
}

.saved {
  border: 5px solid green;
}

.dice button {
  font-size: 1.5em;
  padding: 10px;
  margin: 25px 10px 25px 80%;
  border-radius: 25px;
  background-color: #258AC4;
  color: white;
}

.scoreCard {
  margin: 15px;
}

table, tr, td, th {
  border: solid 2px white;
  margin: 25px auto;
  font-size: 1.25em;
  background-color: #258AC4;
  color: white;
  border-collapse: collapse;
  text-align: center;
}

#die0:hover {
  cursor: crosshair;
}


#picture {
  width: 150px;
}

#playerName {
  margin: auto 40%;
  text-align: center;
}
