body {
  background-color: rgba(255, 255, 255, .3);
  background-image: url('./images/background3.jpg');
  background-repeat: no-repeat;
  background-size: 1920px 1080px;
}

.largeClick {
  padding: 75px 0px 0px 0px;
  margin-right: 3px;
  background-color: #243065;
  border-radius: 15px;
  cursor: pointer;
}

.selectAvatar {
  font-size: 1.6em;
  color: white;
}

.modal-wrapper {
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.modal-content {
  margin: 18% auto;
  width: 40%;
  background-color: #52515E;
  padding: 20px 15px;
  text-align: center;
  border: solid 3px black;
  border-radius: 25px;
  z-index: 2;
}

.avatarImg {
  width: 75px;
  border-radius: 15px;
}

.modalUpper label {
  font-size: 1.6em;
  color: white;
}

.modalUpper button {
  padding: 5px 10px;
  margin-left: 20px;
  background-color: #258AC4;
  color: white;
  font-size: 1.1em;
  border-radius: 25px;
}

#nameInput {
  font-size: 1.05em;
  padding: 5px;
  height: 15px;
  width: 250px;
}

#openModal {
  margin: 20px 15%;
  font-size: 1.1em;
  border-radius: 10px;
  text-align: center;
  color: white;
  background-color: #258AC4;
}

.modalUpper {
  padding: 25px;
}

.modalLower {
  padding: 15px;
}

.wrapper {
  margin: auto;
}

.title {
  border: 3px solid white;
  font-size: 3.5em;
  text-align: center;
  background-color: #243065;
  border-radius: 25px;
  color: white;
  padding: 15px;
}

.avatar {
  border: 3px solid white;
  float: left;
  margin: 15px 50px;
  width: 200px;
}

.newGame button {
  float: right;
  color: white;
  background-color: #258AC4;
  font-size: 1.8em;
  text-align: center;
  padding: 25px;
  margin: 50px 50px 15px 0px;
  border-radius: 25px;
}

.turns {
  font-size: 1.25em;
  padding-left: 115px;
}

.dice {
  border: 3px solid white;
  margin: 25px 15% 25px 35%;
  width: 45%;
  text-align: center;
  background-color: #12111E;
  border-radius: 25px;
}

.dice img {
  margin: 15px 35px;
  width: 85px;
  border-radius: 10px;
}

.dice button {
  font-size: 1.5em;
  padding: 10px;
  margin: 0px 10px 25px 80%;
  border-radius: 25px;
  background-color: #258AC4;
  color: white;
}

button:hover {
  cursor: pointer;
}

.scoreCard {
  margin: 0px 35px;
}

table {
  float: left;
}

table, tr, td, th {
  border: solid 2px white;
  margin: auto;
  font-size: 1.25em;
  background-color: #258AC4;
  color: white;
  border-collapse: collapse;
  text-align: center;
}

#die0:hover {
  cursor: crosshair;
}
#die1:hover {
  cursor: crosshair;
}
#die2:hover {
  cursor: crosshair;
}
#die3:hover {
  cursor: crosshair;
}
#die4:hover {
  cursor: crosshair;
}

#picture {
  width: 194px;
  text-align: center;
  padding: 5px 5px 5px 3px;
}

#playerName {
  margin: auto;
  text-align: center;
  font-size: 1.75em;
  color: white;
  padding-left: 15px;
}

.throwsRemaining {
  float: right;
  font-size: 1.5em;
  color: white;
}

.scored {
  background-color: green;
  color: white;
}

.scored:hover {
  cursor: pointer;
}

.saved {
  border: 3px solid green;
}

.totals {
  background-color: #156Aa4;
}


.unscored {
  color: black;
  background-color: #F1C454;
}

.unscored:hover {
  cursor: pointer;
}

#turnsRemain {
  margin: 10px auto;
  padding: 150px 40px 0px 40px;
  color: white;
}

#rollsRemain {
  padding: 25px 15px 0px 25px;
  font-size: 1.35em;
  float: left;
  color: white;
}

.modalTwo-wrapper {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.modalTwo-content {
  margin: 15% auto;
  width: 40%;
  background-color: #9EEDFA;
  border: 3px solid black;
  padding: 20px 15px;
  text-align: center;
  border-radius: 25px;
  z-index: 2;
}

.modalTwo-content {
  font-size: 1.5em;
}

#yes {
  color: white;
  font-size: 1.25em;
  background-color: #258AC4;
  margin-top: 25px;
  margin-right: 15px;
  border-radius: 15px;
  padding: 10px 25px;
}

#no {
  color: white;
  font-size: 1.25em;
  background-color: #258AC4;
  margin-top: 25px;
  margin-left: 15px;
  border-radius: 15px;
  padding: 10px 25px;
}

.rules {
  width: 60%;
  padding: 15px;
  border: 3px solid white;
  border-radius: 25px;
  margin: 120px 15px 0px 35%;
}

.rules label {
  color: white;
  font-size: 3em;
  padding: 20px;
}

.moreInfo {
  width: 60%;
  padding: 15px;
  border: 3px solid white;
  border-radius: 25px;
  margin: 75px 15px 0px 35%;
}

.moreInfo label {
  color: white;
  font-size: 2em;
  margin-bottom: 50px;
}

.moreInfo img {
  background-color: #156Aa4;
  border-radius: 25px;
  margin: 15px 40%;
  padding: 15px;
  width: 200px;
  height: 75px;
}
