body {
  margin: auto;
}

table {
  margin: auto;
}

.selwrap {
  text-align: center;
}

select {
  margin: 20px 45%;
  font-size: 1.2em;
}

th {
  padding: 15px;
  font-size: 1.1em;
  background-color: grey;
  border-color: grey;
}

td {
  padding: 15px;
}
